<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Link rel="stylesheet" href="../assets/styles/main.css">
</head>
<body>
    
<!-- navbar.html -->
<nav class="navbar">
    <div class="check">
        <label for="check">CHECK</label>
    </div>
    <ul class="nav-links">
        <li><a href="Dashboard_Patient.html">Inicio</a></li>
        <li><a href="Resultados_examenes.html">Historial</a></li>
        <li><a href="Records.html">Registros</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="#" id="Anomalias-btn">Anomalías</a></li>
    </ul>
</nav>

</body>
</html>