.contacto h1 {
    font-size: 55px;
    color: #3058a6;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacto h2 {
    font-size: 23px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacto {
    display: grid;
    place-items: center; /* Alinear los elemento de forma horizontal y vertical utilizando el grid */
    font-weight: normal;
}

.contacto-con {
    display: flex;
}

.seccion1 {
    width: 50%;
    padding: 30px;
}

.leyenda1 {
    font-size: 24px;
}

.leyenda2-24 {
    font-size: 24px;
    margin-bottom: 2px;
}

.leyenda2-17 {
    font-size: 17px;
    margin-bottom: 0px;
}

.leyenda3 h1{
    font-size: 24px;
}

.leyenda3 p {
    font-size: 17px;
    margin-bottom: 0px;
}

.seccion2 {
    width: 50%;
    padding: 30px;
}

.seccion2 label {
    font-size: 12px;
    margin-bottom: 5px; /* Espaciado entre label e input */
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.form-form-group {
    display: flex;
    gap: 10px; /* Espaciado entre los campos de correo y teléfono */
}

.form1 {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que los elementos hijos se adapten al contenedor */
}

.form-group input {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    color: #777777;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    width: 97%; /* Ajusta los inputs para que tengan el mismo ancho */
}

.form-form-group input {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: none;
    color: #777777;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    width: 93%;
    margin-bottom: 10px;
}
.button {
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    margin-top: 15px;
}

.button button {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    width: 130px;
}
