/* Estilo general */
h1 {
    text-align: center;
    font-size: 3em;
    color: #555;
    margin-top: 20px;
}

.Inicios {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    color: #777;
    margin-bottom: 10px;
}

/* Sección de funcionalidades */
.funcionalidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px; /* Espaciado entre las tarjetas */
    padding: 20px;
    justify-items: center; /* Centra las tarjetas en cada celda */
}

.tarjeta {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px; /* Ancho fijo para las tarjetas */
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.tarjeta h2 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #444;
}

.tarjeta p {
    font-size: 0.9em;
    color: #666;
    line-height: 1.5em;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

/* Ajuste responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .funcionalidades {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .funcionalidades {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}
