body {
    margin: 0; /* Elimina los márgenes por defecto del body */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columnas */
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: white; /* Color de fondo claro */
    max-width: 100%; /* Ajusta el ancho máximo si es necesario */
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.sub-contenedor {
    display: flex;
    align-items: center;
}

.icono {
    width: 180px; /* Ajusta el tamaño según tu preferencia */
    height: auto;
    padding-right: 20px;
}

#Ingresar {
    background-color: black;
    color: white; /* Cambia a blanco para que el texto sea visible */
    border-radius: 5px;
}

.Che {
    font-size: 42px;
}

.leyenda {
    color: #888888;
    font-size: 25px;
}

.button-mas {
    background-color: black;
    font-size: 12.5px; /* Corrige el formato del tamaño de fuente */
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.button-mas:hover {
    background-color: #F45501;
    color: white;
}

.titulo-testi {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    font-weight: normal;
}

.testi {
    background-color: white;
    width: 280px;
    height: auto;
    border-radius: 16px;
    margin: 0 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    width: 100%; 
    align-items: center;
    margin-bottom: 20px; 
}

.icon img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ic p {
    color: black;
    font-family: Quando;
    margin: 0;
    font-size: 25px;
}

#arroba {
    color: #888888;
    font-size: 18px;
}

.testimonios-com {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
}

.Wrapper {
    background-color: #888888;
    font-size: 1.5em;
    width: 100%; /* Ajusta el ancho máximo */
}

.accordion {
    background-color: transparent;
    backdrop-filter: blur(40px);
    width: 100%; /* Ajusta el ancho máximo */
}

.imagen1 {
    max-width: 100%;
}
