.body {
    margin: 0; /* Elimina los márgenes por defecto del body */
    font-family: Quando, bond; /* Define la fuente predeterminada */
    display: contents; /* Muestra solo el contenido de los elementos, sin crear un contenedor adicional */
    flex-direction: column; /* Organiza los elementos en columnas (no tiene efecto con display: contents) */
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: white; /* Color de fondo claro */
}

.icono {
    display: auto;
    height: auto;
    width: 250px;
    padding: 30px;
}

#Ingresar {
    background-color: white;
    color: black;
    border-radius: 10px;
}

#check {
    font-size: 30px;
}

.contenedor {
    background-color: transparent;
    max-width: 1000px;
}
.sub-contenedor {
    display: flex;
    align-items: center;
    margin: 10px 180px;
}

.Che {
    font-size: 42px;
}

.leyenda {
    color: #888888;
    font-size: 25px;
    
}
.button-mas {
    font-family: quando;
    background-color: black;
    font-size: 12,5px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.button-mas:hover {
    background-color: #F45501;
    color: white;
}

.titulo-testi {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 50px;
    font-weight: normal;
}

.testi {
    background-color: white;
    width: 280px;
    height: auto;
    border-radius: 16px;
    margin: 0 30px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    width: 100%; 
    align-items: center;
    margin-bottom: 20px; 
}

.icon img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ic p {
    color: black;
    font-family: Quando;
    margin: 0;
    font-size: 25px;
}

#arroba {
    color: #888888;
    font-size: 18px;
}

.testimonios-com {
    display: flex;
    justify-content: center;
    align-content: center;
}
