html, body {
    margin: 0;
}

.Container-Img-Logo {
    display: flex;
    justify-content: center;
    padding-top: 40px; /* Reduce el espacio superior */
}

.Img_logo {
    max-width: 500px;
    width: auto;
    height: auto;
}

.container {
    height: 100%;
    align-content: center;
    padding-top: 40px; /* Reduce el espacio superior entre logo y card */
}

.card {
    height: 370px;
    margin-top: 10px; /* Acerca la card al logo */
    margin-bottom: auto;
    width: 400px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #3058a6;
}

.social_icon span:hover {
    color: #f45501;
    cursor: pointer;
}

.card-header h3 {
    color: black;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    margin: 5px;
    width: 40px;
    background-color: transparent;
    backdrop-filter: blur(40px);
    color: black;
    border: 0 !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.remember {
    color: black;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    margin: 5px;
    color: black;
    background-color: #3058a6;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: #F45501;
}

.links {
    color: black;
}

.links a {
    margin-left: 4px;
}

.Registrarme_btn {
    margin: 5px;
    color: black;
    background-color: #3058a6;
    width: auto;
}