@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

/* Configuración del cuerpo de la página */
body {
    font-family: 'Quando', bold !important;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Barra de navegación personalizada */
.navbar  {
    position: sticky;
    top: 0;
    background-color: #3058a6 !important;
    width: auto !important;
    padding: 20px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 1000;
}

/* Configuración de los enlaces de la barra de navegación */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 8px 6px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #F45501;
    border-radius: 2px;
    padding: 5px;
}

/* Botón de anomalías con un diseño diferente */
#Anomalias-btn {
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* Configuración del menú desplegable */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3058a6;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    border-bottom: 2px solid #ffffff;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content a {
    color: white !important;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #F45501;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: auto;
    margin: 0 auto;
}

.footer p {
    margin: 10px 0;
    font-size: 14px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    color: #ccc;
    font-size: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f45501;
}

/* Botón de Ingreso */
.Ingresar {
    background-color: black;
    border-radius: 5px;
    padding: 8px 16px;
}

.Ingresar:hover {
    background-color: #F45501;
    border-radius: 5px;
}
