/* Estilo general de la página */
body {
    background-color: #f4f4f9;
    color: #333;
    padding: 0;
    min-height: 100vh;
}

.contenido_pagina {
    margin: 50px;
    align-items: center;
    justify-content: center;
}

/* Estilo para el título */
h1 {
    color: #4a90e2;
    font-size: 2.5rem;
    margin-top: 20px;
}

/* Sección del visor de PDF actual */
#pdf-actual {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
}

#pdf-actual h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo del visor de PDF */
embed {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Sección del historial de resultados */
#historial-resultados {
    margin-top: 40px;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#historial-resultados h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilo para la lista de enlaces en el historial */
#historial-resultados ul {
    list-style-type: none;
    padding: 0;
}

#historial-resultados li {
    margin-bottom: 10px;
}

#historial-resultados a {
    color: #4a90e2;
    text-decoration: none;
    font-size: 1rem;
}

#historial-resultados a:hover {
    text-decoration: underline;
}

/* Estilo del botón de regreso al dashboard */
button {
    margin-top: 30px;
    background-color: #3058a6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #F45501;
}
