/*Cuerpo dela pagina*/

body {
    margin: 0;
    font-family: 'Quando', bold !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
/* Barra de navegación personalizada */
.navbar {
    position: sticky;
    top: 0;
    background-color: #3058a6 !important;
    width: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: 1000;
}
/* A1 asignacion de citas/ N1 nombre de usuario */

.A1{

    position: relative;
    display: block;
    margin-right: 150px;
    margin-left: 100px;
    padding: 0px;
    text-align: center;
    color: #888888;
    right: 5px;


}
.N1 {
    position: relative;
    display: flex;
    margin-right: 100px;
    padding: 18px;
    border-radius: 100%;
    right: 400px;
    top: 30px;
}
    
/*Programar cita P1 /cancelar cita C1*/

.P1{
    position: relative;
display: flex;
margin-right: 100px;
padding: 18px;
left: 170px;
top: 10px;
background-color: #3058a6;
color: #ffffff;
border-style: double;
padding: 18px;
border-radius: 15px 150px;
width: 150px;
justify-content: center;

}

.C1 {
    position: relative;
display: flex;
margin-right: 100px;
padding: 18px;
left: 790px;
bottom: 380px;
background-color: #3058a6;
color: #ffffff;
border-style: double;
padding: 18px;
border-radius: 15px 150px;
width: 150px;
justify-content: center;
}

/*imagen programar cita I1/ Imagen Cancelar I2/ Imagen banner I3*/
.I1{
    position: relative;
    left: 110px;
    top: 30px;   
     
}

.I2{

    position: relative;
    left: 750px;
    bottom: 370px;
}

.I3{
    position: relative;
    bottom: 550px;
    left: 80px;
    max-width: 500px;
    width: auto;
    height: auto;
    
}

/*barra espaciadore lateral*/

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: #3058a6;
    border-radius: 10px;
    border: 2px solid #F45501;

}
/*barra inferior*/
.B1{
    position: relative;
    color: #ffffff;
    background-color: #3058a6;
    border: #888888;
    width: 100%;
    bottom: 7px;
    padding: 12px 6px;
    

}

.B2{
    position: relative;
    text-align: right;
    color: #ffffff;
    background-color: #3058a6;
    background-position: 200px;
    border-width: 150px;
    bottom: 20px;
    max-inline-size: 750px;
    left: 584px;
    top: -69px;
    padding: 12px 6px;

}
/*Textos (M1 y M2) Programacion y cancelacion (P2 y C2)*/
.P2{

    position: relative;
    left: 18PX;
    bottom: 280px;
    left: 180px;
}
.M1{
    position: relative;
    width: 350px;
    left: 130px;
    bottom:250px;
}
.C2{
    position: relative;
    left: 823px;
    bottom: 526px;
}
.M2{
    position: relative;
    width: 350px;
    left: 823px;
    bottom: 497px;
}
/* Configuración de los enlaces de la barra de navegación */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 940px;
   

}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: white !important;
    padding: 8px 6px;
    transition: background-color 0.3s;
    
}

.nav-links a:hover {
    background-color: #F45501;
    border-radius: 2px;
    padding: 5px;
}

/* Botón de anomalías con un diseño diferente */
#Anomalias-btn {
    background-color: #F45501;
    color: black;
    border-radius: 5px;
    
}

/* Configuración del menú desplegable */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3058a6;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    border-bottom: 2px solid #ffffff;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content a {
    color: white !important;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #F45501;
}

.Inicio{
    font-size: 1.5em;
    display: flex;
    justify-content: center;

    margin-right: 150px;

}
